@font-face {
    font-family: 'WorkSans-Regular';
    src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'WorkSans-Bold';
    src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body {
    background-color: hsl(275, 100%, 97%);
    font-size: '16px';
    font-family: 'WorkSans-Regular';
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    padding-bottom: 10rem;
}

body .accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    color: hsl(292, 42%, 14%);
    border-radius: 15px;
    box-shadow: 0 32px 56px 0 rgba(80, 0, 118, 0.1);
}

h1 {
    font-size: 2.75rem;
    font-weight: 800;
    font-family: 'WorkSans-Bold';
}

header{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
 
body .question_title .icon_minus{
    display: none;
}

main div{
    padding:.50rem 0;
    margin: .20rem 0;
}

main .question{
    border-bottom: 1px solid #eee;
}

main .question:nth-last-child(1){
    border-bottom: none;
}

main .question_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

 main .response {
    max-height:0;
    overflow: hidden;
    color: hsl(292, 16%, 49%);
    font-weight: 400;
    line-height: 1.5rem;
    font-size: .9rem;
    font-family: 'WorkSans-SemiBold';
    transition: 0.275s ease-in;
}

main .response.open{
    overflow: visible;
    max-height: 500px;
}

h2{
    font-size:1rem;
    font-family: 'WorkSans-Bold';
}

h2:hover{
    color: hsl(297, 100%, 50%);
    cursor: pointer;
}

.plus{
    display: block; 
}
.minus{
    display: none !important;
}

.faq_icon{
    border: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.faq_icon.open{
    background-image: url(./assets/images/icon-minus.svg);
    transition: .3s ease-in-out;
}

.faq_icon.open .minus {
  display: block; /* Show the minus icon */
}

.faq_icon.open .plus {
  display: none; /* Hide the plus icon */
}
/* MOBILE DESIGN */
@media screen and (max-width: 767px) {
    body{
        background-image: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: top;
        min-height: 100vh;
        padding-inline: 1.5rem;
    }
    body .accordion{
        margin-top: 25%;
        margin: auto !important;
        padding-inline:2rem ;
    }

    h1 {
        font-size: 2rem;
        font-weight: 800;
    }

    h2{
        font-size: 1rem;
    }
}

/* DESKTOP DESIGN */
@media screen and (min-width: 768px) {
    body {
        background-image: url(./assets/images/background-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: top;
    }

    body .accordion{
        min-width: 530px;
        width: 45%;
        margin-top: 8%;
    }
}
